* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    background-color: rgb(0, 0, 0);
}

h2 + p {
    padding: 1rem;
    color: rgb(29, 23, 42);
}

header h1 {
    text-align: center;
    font-size: 2rem;
}

header nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

header nav a:hover {
    color: blueviolet;
}

.menu {
    padding-left: 40px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

p {
    line-height: 1.5;
}

main > section {
    text-align: center;
    padding: 1rem;
}

#hero h2 {
    color: rgba(0, 0, 0, 0.8);
}

#hero h2::first-letter {
    font-size: 1.5rem;
    color: rgb(6, 6, 110);
}

#especificacoes table {
    width: 100%;
    border-collapse: collapse;
}

#especificacoes thead {
    background-color: #333;
    color: white
}

#especificacoes th, td {
    text-align: left;
    padding: 1rem;
}

tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

#comprar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input[type="email"] {
    width: 20rem;
    padding: 0rem;
}

.botao-comprar {
    color: white;
    background-color: rgb(45, 31, 45);
    width: 230px;
    border-radius: 10rem;
    padding: 0.3rem;
}

.botao-comprar:hover {
    color: rgb(175, 66, 164);
}

aside {
    background-color: #ffffff;
    padding: 2rem;
}

aside ul li a{
    color: blueviolet;
    text-decoration: none;
}

aside ul li a:hover{
    color: #0044ff;
}

footer {
    color: white;
    background-color: rgb(27, 25, 47);
    text-align: center;
    font-size: 1rem;
}

